.heading{
width: 80%;
margin: 30px auto;
text-align: center;
color: #1435fa;
background: #e0e0d1;
border: 2px solid #6B8E23;
border-radius: 20px;
}
form {
width: 50%;
margin: 30px auto;
border-radius: 5px;
padding: 10px;
background: #e0e0d1;
border: 1px solid #6B8E23;
border-radius: 10px
}
form p {
color: #6214f0;
margin: 0px;
}

.task_input {
width: 80%;
height: 15px;
padding: 10px;
border: 4px solid #6B8E23;
}

.add_btn {
height: 39px;
background: #f8f2d6;
color: #1435fa;
border: 2px solid #6B8E23;
border-radius: 5px;
padding: 5px 20px;
}

table {
width: 60%;
margin: 30px auto;
border-collapse: collapse;
}
tr {
border-bottom: 8px solid #cbcbcb;
}

th {
text-align: left;
font-size: 18px;
color: #fa3c3c;
}

th, td{
border: 10px;
height: 30px;
padding: 2px;
}

tr:hover {
background: #E9E9E9;
}

.task {
text-align: left;
}

.delete{
text-align: center;
}
.delete a{
color: white;
background: #a52a2a;
padding: 1px 6px;
border-radius: 3px;
text-decoration: none;
}